[User]
# Owner of Stock Collection (can be empty)
name =
# mail address where the weekly report shoudl be sent to
mail = name@example.com
# stock source - "file" or "db" - fill out sections File or DB
source = file


[File]
filename = stocks.json


[DB]
user =
password =
host =
db =



